@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

img {
  max-width: 100%;
  display: block;
}

.css-t3ipsp-control,
.css-t3ipsp-control:focus,
.css-t3ipsp-control:hover {
  border-color: inherit !important;
  box-shadow: none !important;
}
