.heading2Xl {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

/*Timeline*/
ul.timeline > li {
  position: relative;
  padding-left: 30px;
}

ul.timeline > li::before {
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  background: #333333;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
}

ul.timeline > li::after {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  background: #333333;
}

ul.timeline li:nth-of-type(n + 2) {
  margin-top: 20px;
}

ul.custom_list li {
  position: relative;
  padding-left: 15px;
}

ul.custom_list li::before {
  content: "-";
  position: absolute;
  left: 0;
}

ul.custom_list li:nth-of-type(n + 2) {
  margin-top: 10px;
}
